*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.cont{
    /** FONDO */
    background-image: url("../img/fondo5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: aqua; */
    

    /** TAMAÑO */
    /* background-size: cover; */
    height: 100vh;

    /** FLEX-BOX */
    display: flex;
    justify-content: center;
    align-items: center;
}


/** IMAGEN DENTRO DEL .LOG */
.log img{
    width: 150px;
    height: 150px;
}

.log{
    background: rgba(0, 0, 0, 0.3);
    color: aliceblue;
    /** FLEX-BOX */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /** MODELO CAJA */
    padding: 80px;
    border-radius: 20px;
   
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input{
    height: 50px;
    border-radius: 10px;
    border: none;
}

input:focus{
    outline: none;
}

input[type="submit"]{
    background-color: #17214d;
    color: white;
    margin: 15px 0;
}

.log a{
    text-decoration: none;
    color: aliceblue;
    border: 1px solid #1e1e1e;
    padding: 5px 10px;
    border-radius: 50px;
}
 

.log a:hover{
    background-color: #1e1e1e;
    color: white;
}


 




